# vscode
.vscode

# Intellij
*.iml
.idea

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# npm
node_modules
package-lock.json

# composer
vendor
.phpunit.result.cache

# enviroment
*.env
!.env.example

# logs
*.log
